:root {
  --BG-color-app: #f0ecec;
  --BG-color-input: white;
  --BG-color-todos: white;
}

* {
  font-family: Roboto;
}


form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--BG-color-input);
  border-radius: 10px;
  padding: 10px;
}
